In [1]:
import numpy as np
import pandas as pd

In [2]:
# creating dataframe
# dataframe - table=dataframe since it is a 2d structure of data consisting of rows and column
#using lists

student_data=[
    [100, 80,10],
    [70, 50,7],
    [90, 70,8],
    [80, 50,2]
]
pd.DataFrame(student_data,columns=['iq','marks','package'])

    iq  marks  package
0  100     80       10
1   70     50        7
2   90     70        8
3   80     50        2